.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size $m-size;
  border: 1px solid darken($light-grey, 7%);
  background: $light-grey;
  color: $grey;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $s-size;
  border: 1px solid darken($light-grey, 7%);
  border-top: none;
  color: $dark-grey;
  text-decoration: none;
  //align-items: center;
  transition: background-color .3s ease;
  &:hover {
    background: darken($light-grey, 30%);
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.list-item--message {
  align-items: center;
  justify-content: center;
  padding: $m-size;
  color: $grey;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  -ms-word-break: break-all;
  word-break: break-all;
}

.list-item__sub-title {
  font-size: $font-size-small;
  color: $grey;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
